@import "../../style-utils";

/**
Results
 */

.results {
	z-index: 1;
	&--success {
		background: url("./bg-success.jpg") no-repeat;
		background-size: 100%;
	}
	&--warning {
		background: url("./bg-warning.jpg") no-repeat;
		background-size: 100%;
	}
	&--danger {
		background: url("./bg-danger.jpg") no-repeat;
		background-size: 100%;
	}
	
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	&__left {
		width: 31rem;
		margin-right: 64px;
		justify-content: flex-start;
		flex-shrink: 0;
	}
	&__right {
		justify-content: flex-start;
	}
	&__header {
		font-family: 'Exo';
		font-size: 2.813rem;
		font-weight: 700;
		margin-top: 38px;
		margin-bottom: 36px;
	}
	&__footer {
		margin-top: 44px;
		height: 50px;
	}
}

.score {
	height: 33.75rem;
	box-shadow: 0 0.188rem 0.625rem rgba(0, 0, 0, 0.07);
	border-radius: 0.625rem;
	border: 0.063rem solid #b7b7b7;
	background-color: #fff;
	padding: 14px 30px 14px 30px;
	&__circle {
		width: 19.375rem;
		height: 19.375rem;
		margin: 0 auto;
		.ant-progress-inner {
			position: relative;
		}
		.ant-progress-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__description {
		margin-top: 37px;
		width: 19.188rem;
		color: #000;
		font-family: 'Barlow Condensed';
		font-size: 1.5rem;
		font-weight: 400;
	}
	&__link {
		&:extend(.link);
		margin-top: 24px;
		display: inline-block;
		color: #3083d7;
		font-family: 'Barlow Condensed';
	}
}

.grid {
	height: 33.75rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		width: 15.063rem;
		height: 15.063rem;
		box-shadow: 0 0.188rem 0.625rem 0.063rem rgba(0, 0, 0, 0.07);
		border-radius: 0.625rem;
		border: 0.063rem solid #b7b7b7;
		padding: 27px 27px 15px 27px;
		flex-shrink: 0;
		text-align: center;
		&--reputation {
			i {
				background: url("./i-reputation.png") no-repeat center;
			}
		}
		&--malware {
			i {
				background: url("./i-malware.png") no-repeat center;
			}
		}
		&--webAppRisks {
			i {
				background: url("./i-web-app-risks.png") no-repeat center;
			}
		}
		&--contentSecurityRisks {
			i {
				background: url("./i-content.png") no-repeat center;
			}
		}
		&--http {
			i {
				background: url("./i-http.png") no-repeat center;
			}
		}
		&--cms {
			i {
				background: url("./i-cms.png") no-repeat center;
			}
		}
	}
	&__title {
		color: #000;
		font-family: 'Barlow Condensed';
		font-size: 1.875rem;
		font-weight: 400;
	}
	&__icon {
		width: 69px;
		height: 69px;
		position: relative;
		&--risk {
			&::before {
				content: '';
				background: url("./i-notification.png");
				width: 32px;
				height: 32px;
				position: absolute;
				top: 40px;
				right: -11px;
				animation: pulse 2s infinite;
				border-radius: 50%;
			}
		}
	}
	&__found {
		color: @orange;
		font-size: 1.25rem;
	}
	&__link {
		&:extend(.link);
		font-size: 1.25rem;
	}
}

.fix-button {
	padding: 0 30px;
}

.to-back {
	display: flex;
	align-items: center;
	float: right;
	&__icon {
		background: url("./arrow1.png");
		width: 50px;
		height: 50px;
		margin-right: 26px;
		transition: all .2s ease-out;
	}
	&__button {
		color: #979c9d;
		font-family: "Barlow Condensed";
		font-size: 1.875rem;
		display: flex;
		align-items: center;
		&:hover {
			color: #979c9d;
			text-decoration: none;
			.to-back__icon {
				transform: rotate(-25deg);
			}
		}
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}