@import "../../style-utils";

.single {
	&__head {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 27px;
		position: relative;
	}
	.back-to {
		color: #9c9c9d;
		font-family: "Barlow Condensed";
		font-size: 1.875rem;
		font-weight: 500;
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 15px;
		&:hover {
			text-decoration: none;
			i {
				left: -36px;
			}
		}
		i {
			background: url("./arrow3.png");
			width: 60px;
			height: 42px;
			position: relative;
			left: -32px;
			transition: all .2s ease-out;
		}
	}
	&__footer {
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}
	
	&__icon {
		display: block;
		background: url("./i-malware.png");
		width: 62px;
		height: 55px;
	}
	&__title {
		color: @black;
		font-family: "Barlow Condensed";
		font-size: 5rem;
		font-weight: 400;
		text-align: center;
		margin-top: 19px;
	}
	&__subtitle {
		color: #c6c6c6;
		font-size: 2.438rem;
		font-weight: 400;
		text-align: center;
		margin-top: 20px;
	}
	&__description {
		color: #c6c6c6;
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
		margin-top: 18px;
	}
	&__protect-button {
		box-shadow: 0 0.188rem 0.313rem 0.063rem rgba(0, 0, 0, 0.35);
		border-radius: 1.25rem;
		border: 0.125rem solid #1976cc;
		background-color: #fff;
		color: @black;
		font-family: "Barlow Condensed";
		font-size: 2.375rem;
		font-weight: 500;
		text-transform: uppercase;
		transition: all .2s ease-out;
		padding: 0 17px;
		height: 3.438rem;
		display: flex;
		align-items: center;
		position: relative;
		&:hover {
			text-decoration: none;
			color: #fff;
			background-color: #1976cc;
			text-decoration: none;
		}
	}
	&__fix-button {
		margin-left: 25px;
		box-shadow: 0 0.188rem 0.313rem 0.063rem rgba(0, 0, 0, 0.35);
		border-radius: 1.25rem;
		border: 0.125rem solid #f00;
		background-color: #fff;
		color: @black;
		font-family: "Barlow Condensed";
		font-size: 2.375rem;
		font-weight: 500;
		text-transform: uppercase;
		transition: all .2s ease-out;
		padding: 0 17px;
		height: 3.438rem;
		display: flex;
		align-items: center;
		position: relative;
		&:hover {
			text-decoration: none;
			color: #fff;
			background-color: #f00;
			text-decoration: none;
		}
	}
}

.levels {
	margin-top: 36px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		width: 27.875rem;
		border-radius: 0.625rem;
		border: 0.063rem solid #b7b7b7;
		padding: 8px 27px;
		flex-shrink: 0;
		&--success {
			.levels__badge {
				background: url("./blue-badge.png") no-repeat;
			}
			.levels__text {
				.value {
					color: #1976cc;
				}
			}
			.levels-table {
				li:first-child {
					border: 1px solid #1976cc;
				}
			}
		}
		&--warning {
			.levels__badge {
				background: url("./yellow-badge.png") no-repeat;
			}
			.levels__text {
				.value {
					color: #fd9500;
				}
			}
			.levels-table {
				li:first-child {
					border: 1px solid #fd9500;
					&::before {
						background-color: #fd9500;
					}
				}
			}
		}
		&--danger {
			.levels__badge {
				background: url("./red-badge.png") no-repeat;
			}
			.levels__text {
				.value {
					color: #f00;
				}
			}
			.levels-table {
				li:first-child {
					border: 1px solid #f00;
					&::before {
						background-color: #f00;
					}
				}
			}
		}
		
		&:not(&--nomodal) {
			//display: none;
		}
		&--warning,
		&--danger {
			.levels-table {
				li {
					&:first-child {
						&:before {
							content: '';
							transition: 0.5s all ease;
							position: absolute;
							top: 0;
							left: 50%;
							right: 50%;
							bottom: 0;
							opacity: 0;
							z-index: -1;
						}
						&:hover {
							cursor: pointer;
							.levels-table__key,
							.levels-table__value {
								color: #fff;
							}
							&:before {
								transition: 0.5s all ease;
								left: 0;
								right: 0;
								opacity: 1;
							}
						}
					}
				}
			}
		}
		&--nomodal {
			.levels-table {
				li {
					&:first-child {
						&::before {
							display: none;
						}
						&:hover {
							cursor: default;
							.levels-table__key,
							.levels-table__value {
								color: @black;
							}
						}
					}
				}
			}
		}

	}
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__badge {
		color: @black;
		font-size: 3.75rem;
		font-weight: 700;
		width: 111px;
		height: 113px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 5px;
	}
	&__text {
		color: @black;
		font-family: "Barlow Condensed";
		font-size: 2.5rem;
		font-weight: 400;
	}
}

.levels-table {
	margin-top: 22px;
	
	li {
		height: 3.063rem;
		display: flex;
		align-items: center;
		z-index: 3;
		&:first-child {
			font-family: 'Barlow';
			font-size: 1.5rem;
			font-weight: 400;
			position: relative;
			transition: 0.3s ease all;
			background-color: transparent;
			
		}
	}
	&__key {
		width: 260px;
		padding-left: 11px;
		font-size: 1rem;
		font-weight: 400;
		color: @black;
		transition: .7s ease all;
	}
	&__value {
		text-align: center;
		width: 120px;
		transition: .7s ease all;
		color: @black;
	}
}