.ant-table-title,
.ant-table-thead,
.title {
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: 700;
}

.ant-table-title {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
.ant-table-row {
	td {
		&:first-child {
			text-transform: capitalize;
		}
	}
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
	&:first-child {
		font-weight: 700;
	}
}

.red {
	color: #f00;
}
.to-results {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 13px;
	text-decoration: none;
	&::after {
		content: '››';
		margin-left: 5px;
		transition: all .2s linear;
	}
	&:hover {
		&::after {
			margin-left: 8px;
		}
	}
}
