@import "../../style-utils";

/* http://meyerweb.com/eric/tools/css/reset/
     v4.0 | 20180602
     License: none (public domain)
  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
	display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

body {
	color: @brand;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

html, body {
	height: 100%;
	user-select: text;
}

* {
	box-sizing: border-box;
}

main {
	flex: 1;
}
a {
	text-decoration: none;
}
.layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
.container {
	max-width: 1440px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}
::-webkit-input-placeholder {
	color: #d6d6d8;
}

::-moz-placeholder {
	color: #d6d6d8;
}

:-ms-input-placeholder {
	color: #d6d6d8;
}

:-moz-placeholder {
	color: #d6d6d8;
}
.c-red {
	color: @red;
}
.success {
	color: #1976cc;
}
.warning {
	color: #fd9500;
}
.danger {
	color: #ff0000;
}
.c-orange {
	color: @orange;
}
.f-medium {
	font-weight: 500;
}

.f-bold {
	font-weight: 600;
}


.button {
	box-shadow: 0 0.188rem 0.313rem 0.063rem rgba(0, 0, 0, 0.35);
	border-radius: 1.25rem;
	border: 0.125rem solid #1976cc;
	background-color: #fff;
	color: @black;
	font-family: "Barlow Condensed";
	font-size: 2.375rem;
	font-weight: 500;
	text-transform: uppercase;
	transition: all .2s ease-out;
	&:hover {
		text-decoration: none;
		color: #fff;
		background-color: #1976cc;
	}
}
.link  {
	color: @blue;
	font-size: 1.25rem;
	font-weight: 400;
	font-family: "Barlow Condensed";
}

.transition {
	transition: all .2s ease-out;
}