@import '../../style-utils';
/**
	Home
 */
.home {
	background: url("./bg.jpg") no-repeat;
	background-size: 100%;
	display: flex;
	align-items: center;
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	&__title {
		color: #221c35;
		font-family: 'Barlow Condensed';
		font-size: 1.875rem;
		font-weight: 500;
		line-height: 1.688rem;
		text-align: center;
	}
	&__title-add {
		text-align: center;
		margin-top: 18px;
		color: #444452;
		font-family: 'Barlow';
		font-size: 2.25rem;
		font-weight: 500;
		line-height: 1.688rem;
		display: flex;
		align-items: center;
		span {
			margin-left: 6px;
		}
		i {
			display: block;
			background: url("./i-info.png");
			width: 22px;
			height: 22px;
			margin-left: 15px;
			margin-top: 5px;
		}
	}
}

.home-form {
	position: relative;
	margin-top: 33px;
	&__type {
	}
	&__icon {
		position: absolute;
		background: url("./i-search.png");
		width: 35px;
		height: 35px;
		top: 50%;
		left: 25px;
		transform: translateY(-50%);
	}
	&__input {
		padding-left: 85px;
		width: 52.5rem;
		height: 4.563rem;
		background-color: #fdfdfd;
		border: none;
		font-family: 'Barlow Condensed';
		font-size: 1.5rem;
		font-weight: 400;
	}
	&__button {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 14.5rem;
		height: 3.125rem;
		box-shadow: 0 0.063rem 0.375rem 0.063rem rgba(0, 0, 0, 0.25);
		border-radius: 0.25rem;
		background-color: #22a364;
		
		color: #fff;
		font-family: 'Poppins';
		font-size: 1rem;
		text-transform: uppercase;
		
		letter-spacing: 0.25rem;
	}
}

::-webkit-input-placeholder {
	color: #d6d6d8;
}

::-moz-placeholder {
	color: #d6d6d8;
}

:-ms-input-placeholder {
	color: #d6d6d8;
}

:-moz-placeholder {
	color: #d6d6d8;
}