.site-header {
	&__top {
		background-color: #f8f8f9;
		position: relative;
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 50px;
		}
	}
	&__bottom {
		box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.35);
		background-color: #fff;
		.container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			min-height: 100px;
		}
	}
	
	.small-logo {
		background: url("./symbol_mark.png");
		width: 27px;
		height: 17px;
	}
	
	.auth {
		display: flex;
		> * {
			padding: 0 24px;
		}
	}
	
	.login,
	.signup,
	.support,
	.locale {
		font-family: 'Barlow';
		font-size: 0.875rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.35px;
	}
	
	.login {
		color: #00c6ff;
	}
	
	.signup {
		color: #1976cc;
	}
	
	.locale {
		display: flex;
		align-items: center;
		&::before {
			content: '';
			background: url("./i-lang.png");
			width: 16px;
			height: 16px;
			margin-right: 10px;
		}
	}
	
	.site-logo {
		display: block;
		background: url("./logo.png");
		width: 128px;
		height: 58px;
		margin-right: 110px;
	}
	
	.navigation {
		display: flex;
		a {
			color: #4f4f60;
			padding: 0 26px;
			font-size: 0.875rem;
			font-weight: 500;
			
			letter-spacing: 0.7px;
		}
	}
}

