.site-footer {
	min-height: 80px;
	background-color: #f8f8f9;
	display: flex;
	align-items: center;
	background-color: #fff;
}
.copyright {
	color: #8d8a97;
	font-size: 0.75rem;
	letter-spacing: 0.6px;
	text-align: center;
}