 @brand: #646071;
 @red: #e4022b;
 @orange: #fe6a1a;
 @black: #000;
 @blue: #1976cc;

 .button() {
   box-shadow: 0 0.188rem 0.313rem 0.063rem rgba(0, 0, 0, 0.35);
   border-radius: 1.25rem;
   border: 0.125rem solid #1976cc;
   background-color: #ffffff;
   color: @black;
   font-family: "Barlow Condensed";
   font-size: 2.375rem;
   font-weight: 500;
   text-transform: uppercase;
   .transition();
   &:hover {
     text-decoration: none;
     color: @black;
     box-shadow: none;
   }
 }
 .link()  {
   color: @blue;
   font-size: 1.25rem;
   font-weight: 400;
   font-family: "Barlow Condensed";
 }

 @mobile:      ~"only screen and (min-width : 320px) and (max-width : 768px)";
 @desktop:     ~"only screen and  (min-width: 769px)";

 .transition(@duration:0.2s, @ease:ease-out) {
   transition: all @duration @ease;
 }

 .triangle-base() {
   content: '';
   display: block;
   width: 0;
   height: 0;
   -moz-transform: scale(.9999);
 }
 .triangle(@direction, @size, @color) {
   .triangle(@direction, @size * 2, @size, @color);
 }
 .triangle(@direction, @width, @height, @color) when (@direction = up) {
   .triangle-base();
   border-left: (@width / 2) solid transparent;
   border-right: (@width / 2) solid transparent;
   border-bottom: @height solid @color;
 }
 .triangle(@direction, @width, @height, @color) when (@direction = down) {
   .triangle-base();
   border-left: (@width / 2) solid transparent;
   border-right: (@width / 2) solid transparent;
   border-top: @height solid @color;
 }
 .triangle(@direction, @width, @height, @color) when (@direction = left) {
   .triangle-base();
   border-top: (@width / 2) solid transparent;
   border-bottom: (@width / 2) solid transparent;
   border-right: @height solid @color;
 }
 .triangle(@direction, @width, @height, @color) when (@direction = right) {
   .triangle-base();
   border-top: (@width / 2) solid transparent;
   border-bottom: (@width / 2) solid transparent;
   border-left: @height solid @color;
 }